body {
  background-color: lightgray;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.olympic-image {
  display: block;
  margin: 0 auto;
  max-width: 30%;
}

.title {
  color: black;
  font-size: 48px;
}

.subtitle {
  color: black;
  font-size: 30px;
  font-weight: lighter;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.athlete {
  margin: 20px;
  text-align: center;
}

.athlete img {
  width: 200px;
  height: 200px;
}

.athlete-feature {
  margin: 30px;
}

#next-button {
  padding: 10px 20px;
  font-size: 24px;
  border: none;
  border-radius: 15px;
  background-color: black;
  color: white;
  cursor: pointer;
}

#next-button:hover {
  background-color: gray;
}
